// font-family: "Futurabookc"
@font-face {
  font-family: "Futurabookc";
  src: url("../assets/fonts/futurabookc.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

// font-family: "Futurademic"
@font-face {
  font-family: "Futurademic";
  src: url("../assets/fonts/futurademic.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

// font-family: "Yesevaone"
@font-face {
  font-family: "Yesevaone";
  src: url("../assets/fonts/yesevaone.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

