//bg colors
$bg1: #131313;
$bg2: #181818;
$bg3: #ffffff;
$bg4: #e3b873;
$bg5: #5a5a5a;

//font colors
$color1: #ffffff;
$color2: #e3b873;
$color3: #181818;
$color4: #5a5a5a;

//font families
$font1: "Futurademic", sans-serif;
$font2: "Futurabookc", sans-serif;
$font3: "Yesevaone", serif;

//padding
$padd1: 18px;


