//bg colors
$bg1: #131313;
$bg2: #181818;
$bg3: #ffffff;
$bg4: #e3b873;
$bg5: #5a5a5a;

//font colors
$color1: #ffffff;
$color2: #e3b873;
$color3: #181818;
$color4: #5a5a5a;
$color5: rgba(54, 54, 54, 0.5);
$color6: #363636;

//font families
$font1: "Futurademic", sans-serif;
$font2: "Futurabookc", sans-serif;
$font3: "Yesevaone", serif;
$font4: "Futuramediumc", sans-serif;
$font5: "PN Regular", sans-serif;

//padding
$padd1: 18px;


